<article *ngIf="isLoggedIn">
  <page-title [pageTitle]="pageTitle"></page-title>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <section *ngIf="isCartEmpty">
          <div class="Aligner">
            <div class="empty-cart-icon"></div>
          </div>
          <div class="Aligner wrap-content">
            <h2>YOU DONT HAVE ANY FAN FICTION STORIES.</h2>
            <p class="text-center empty-wishlist-p">
              Before seeing stories in your Favorities Stories page you have to add some.
              You will find a lot of interesting stories in our "Fan Fiction" page.
            </p>
            <a routerLink="/fan-fiction" class="cta cta-default">
              Return to the Fan Fiction
            </a>
          </div>
        </section>
        <section *ngIf="!isCartEmpty">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th>Fan Fiction Story Name</th>
                    <th>Author</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr fiction-wishlist-preview *ngFor="let fictionWishlistInfo of fictionWishlistInfo"
                  [fictionWishlistInfo]="fictionWishlistInfo"></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</article>
<article *ngIf="isLoggedIn == false">
  <not-logged-in></not-logged-in>
</article>
