<header>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"
                (click)="isMenuCollapsed = !isMenuCollapsed;
                  isBooksCollapsed = true;
                  isJewelleryCollapsed = true;
                  isClothingCollapsed = true">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a router-link="/">Book Forest</a>
      </div>
      <div class="collapse navbar-collapse"
           (collapsed)="collapsed($event)"
           (expanded)="expanded($event)"
           [collapse]="isMenuCollapsed">
        <ul class="nav navbar-nav" id="mainNav">
          <li routerLinkActive="active" class="active menu-dropdown-button">
            <a id="booksDropdown" class="pointer" role="button"  data-toggle="dropdown"
               (click)="isBooksCollapsed = !isBooksCollapsed;
                   isJewelleryCollapsed = true;
                   isClothingCollapsed = true;">
              Books &nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu booksDropdown" role="menu" aria-labelledby="booksDropdown"
                (collapsed)="collapsed($event)"
                (expanded)="expanded($event)"
                [collapse]="isBooksCollapsed">
              <li><a router-link="/">Epic Fantasy</a></li>
              <li><a router-link="/">Dark Fantasy</a></li>
              <li><a router-link="/">Vampire Fantasy</a></li>
              <li><a router-link="/">Sci-fi Fantasy</a></li>
              <li><a router-link="/">Romantic Fantasy</a></li>
              <li><a router-link="/">Young Adult Fantasy</a></li>
            </ul>
          </li>
          <li routerLinkActive="active" class="active menu-dropdown-button">
            <a id="jewelleryDropdown" class="pointer" role="button" data-toggle="dropdown"
               (click)="isJewelleryCollapsed = !isJewelleryCollapsed;
                 isBooksCollapsed = true;
                 isClothingCollapsed = true;"
               >Jewellery &nbsp;
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu jewelleryDropdown" role="menu" aria-labelledby="jewelleryDropdown"
                (collapsed)="collapsed($event)"
                (expanded)="expanded($event)"
                [collapse]="isJewelleryCollapsed">
              <li><a router-link="/">Fantasy Earrings</a></li>
              <li><a router-link="/">Fantasy Bracelets</a></li>
              <li><a router-link="/">Fantasy Necklaces</a></li>
              <li><a router-link="/">Fantasy Rings</a></li>
              <li><a router-link="/">Fantasy Tiaras</a></li>
              <li><a router-link="/">Fantasy Brooches</a></li>
            </ul>
          </li>
          <li routerLinkActive="active" class="active menu-dropdown-button">
            <a id="clothingDropdown" class="pointer" role="button" data-toggle="dropdown"
               (click)="isClothingCollapsed = !isClothingCollapsed;
                 isJewelleryCollapsed = true;
                 isBooksCollapsed = true;"
              >Clothing &nbsp;
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu clothingDropdown" role="menu" aria-labelledby="clothingDropdown"
                (collapsed)="collapsed($event)"
                (expanded)="expanded($event)"
                [collapse]="isClothingCollapsed">
              <li><a router-link="/">Elvish Clothing</a></li>
              <li><a router-link="/">Ninja Clothing</a></li>
              <li><a router-link="/">Gothic Clothing</a></li>
              <li><a router-link="/">Assassin Clothing</a></li>
              <li><a router-link="/">Warrior Clothing</a></li>
              <li><a router-link="/">Rogue Clothing</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button class="pointer">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </li>
          <li  *ngIf!="loggedIn">
            <button class="pointer" md-raised-button (click)="login()">
              <span class="glyphicon glyphicon-user"></span>
              Login
            </button>
          </li>
          <li *ngIf="loggedIn">
            <a id="userDropdown" role="button" data-toggle="dropdown"
               (click)="isUserCollapsed = !isUserCollapsed;
                  isBooksCollapsed = true;
                  isJewelleryCollapsed = true;
                  isClothingCollapsed = true;">
              <img src="{{user.photoURL}}" class="profileImg"/>
              {{user.displayName}}&nbsp;
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel"
                (collapsed)="collapsed($event)"
                (expanded)="expanded($event)"
                [collapse]="isUserCollapsed">
              <li class="signedAs">
                Signed in as: <strong>{{user.displayName}}</strong>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="#">Your Profile</a>
              </li>
              <li>
                <a href="#">Your Stories</a>
              </li>
              <li>
                <a href="#">Your Stories</a>
              </li>
              <li>
                <a href="#">Your Stories</a>
              </li>
              <li role="separator" class="divider"></li>
              <li class="text-lg-right blue-on-hover">
                <button md-raised-button class="pointer " (click)="logout()">
                  <span class="glyphicon glyphicon-log-out"></span>
                  Logout
                </button>
              </li>
            </ul>
          </li>
          <li>
            <a id="dLabel" role="button"
               (click)="isNotificationCollapsed = !isNotificationCollapsed; isMenuCollapsed = true;"
               data-toggle="dropdown">
              <i class="glyphicon glyphicon-shopping-cart"></i>
              Cart: 0 items
            </a>
            <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel"
                (collapsed)="collapsed($event)"
                (expanded)="expanded($event)"
                [collapse]="isNotificationCollapsed">
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
