.brand{
  font-family: 'Tangerine', cursive;
  font-size: 45px;
  line-height: 45px;
}
header nav {
  border: none;
  background: rgba(0, 0, 0, 0.75);
}
.brand a,
nav a,
.menu-dropdown-button,
.caret,
.dropdown-menu li a{
  color:white;
  text-decoration: none;
}
.dropdown-menu{
  top: 128%!important;
  background: rgba(0, 0, 0, 0.75);
}
.dropdown-menu li {
  text-align: center;
  text-transform: initial;
}
.menu-dropdown-button{
  background:none;
  border:none;
  text-transform: uppercase;
  font-weight:500;
}
header li.open .menu-dropdown-button,
.menu-dropdown-button:hover,
.dropdown-menu li:hover a
{
  color: #b0c9d4;
  cursor:pointer;
}
.dropdown-menu li:hover a
{
  background: #228d99;
  color:#fff;
}
.navbar #mainNav.navbar-nav {
  display: inline-block;
  float: none;
  margin-right:-120px;
}

.navbar .navbar-collapse {
  text-align: center;
}
.dropdown-menu li {
  text-align: left;
}

@media only screen and (max-device-width : 981px) {
  .navbar #mainNav.navbar-nav {
    margin-right:-20px;
  }
  .dropdown-menu{
    position: initial;
  }
  .dropdown-menu li {
    text-align: center;
  }

}
