<header class="clearfix">
  <div class="brand">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a routerLink="/">Book Forest</a>
    <!--<div class="btn-group" dropdown [(isOpen)]="status.isOpen">-->
        <!--<button id="single-button" type="button" class="btn btn-primary" dropdownToggle [disabled]="disabled">-->
          <!--Button dropdown <span class="caret"></span>-->
        <!--</button>-->
        <!--<ul dropdownMenu role="menu" aria-labelledby="single-button">-->
          <!--<li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>-->
          <!--<li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>-->
          <!--<li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>-->
          <!--<li class="divider dropdown-divider"></li>-->
          <!--<li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>-->
        <!--</ul>-->
    <!--</div>-->
  </div>
  <nav id="mainNav" class="not-visible-on-mobile">
    <ul>
      <li>
        <button id="books-dropdown" class="menu-dropdown-button dropdown-toggle" (click)="alert()">
          Books <span class="caret"></span>
        </button>
      </li>
      <li>
        <button id="jewellery-dropdown" class="menu-dropdown-button dropdown-toggle">
          Jewellery <span class="caret"></span>
        </button>
      </li>
      <li>
        <button id="clothing-dropdown" class="menu-dropdown-button dropdown-toggle">
          Clothing <span class="caret"></span>
        </button>
      </li>
      <li>
        <button id="fiction-dropdown" class="menu-dropdown-button dropdown-toggle">
          Fan Fiction <span class="caret"></span>
        </button>
      </li>
    </ul>
  </nav>
  <nav id="userNav" class="not-visible-on-mobile">
    <ul>
      <li>
        <a href="#">Login</a>
        <span> / </span>
        <a href="#" class="register" >Register</a>
      </li>
    </ul>
  </nav>
</header>
