<header (clickOutside)="close()">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"
                (click)="isMenuCollapsed = !isMenuCollapsed;
                  isBooksCollapsed = true;
                  isJewelleryCollapsed = true;
                  isClothingCollapsed = true">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a routerLink="/">Book Forest</a>
      </div>
      <div class="collapse navbar-collapse"
           (collapsed)="collapsed($event)"
           (expanded)="expanded($event)"
           [collapse]="isMenuCollapsed">
        <ul class="nav navbar-nav" id="mainNav">
          <li routerLinkActive="active" class="active menu-dropdown-button">
            <a id="booksDropdown" class="pointer" role="button"  data-toggle="dropdown"
               (click)="isBooksCollapsed = !isBooksCollapsed;
                   isJewelleryCollapsed = true;
                   isClothingCollapsed = true;">
              Books &nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu booksDropdown" role="menu" aria-labelledby="booksDropdown"
                (collapsed)="collapsed($event)"
                (expanded)="expanded($event)"
                [collapse]="isBooksCollapsed">
              <li><a routerLink="/categories/books/0" routerLinkActive="active">Dark Fantasy</a></li>
              <li><a routerLink="/categories/books/1" routerLinkActive="active">Epic Fantasy</a></li>
              <li><a routerLink="/categories/books/2" routerLinkActive="active">Romantic Fantasy</a></li>
              <li><a routerLink="/categories/books/3" routerLinkActive="active">Sci-fi Fantasy</a></li>
              <li><a routerLink="/categories/books/4" routerLinkActive="active">Vampire Fantasy</a></li>
              <li><a routerLink="/categories/books/5" routerLinkActive="active">Young Adult Fantasy</a></li>
            </ul>
          </li>
          <li routerLinkActive="active" class="active menu-dropdown-button">
            <a id="jewelleryDropdown" class="pointer" role="button" data-toggle="dropdown"
               (click)="isJewelleryCollapsed = !isJewelleryCollapsed;
                 isBooksCollapsed = true;
                 isClothingCollapsed = true;"
               >Jewellery &nbsp;
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu jewelleryDropdown" role="menu" aria-labelledby="jewelleryDropdown"
                (collapsed)="collapsed($event)"
                (expanded)="expanded($event)"
                [collapse]="isJewelleryCollapsed">
              <li><a routerLink="/categories/jewellery/0" routerLinkActive="active">Fantasy Earrings</a></li>
              <li><a routerLink="/categories/jewellery/1" routerLinkActive="active">Fantasy Bracelets</a></li>
              <li><a routerLink="/categories/jewellery/2" routerLinkActive="active">Fantasy Necklaces</a></li>
              <li><a routerLink="/categories/jewellery/3" routerLinkActive="active">Fantasy Rings</a></li>
              <li><a routerLink="/categories/jewellery/4" routerLinkActive="active">Fantasy Tiaras</a></li>
              <li><a routerLink="/categories/jewellery/5" routerLinkActive="active">Fantasy Brooches</a></li>
            </ul>
          </li>
          <li routerLinkActive="active" class="active menu-dropdown-button">
            <a id="clothingDropdown" class="pointer" role="button" data-toggle="dropdown"
               (click)="isClothingCollapsed = !isClothingCollapsed;
                 isJewelleryCollapsed = true;
                 isBooksCollapsed = true;"
              >Clothing &nbsp;
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu clothingDropdown" role="menu" aria-labelledby="clothingDropdown"
                (collapsed)="collapsed($event)"
                (expanded)="expanded($event)"
                [collapse]="isClothingCollapsed">
              <li><a routerLink="/categories/clothing/0" routerLinkActive="active">Elvish Clothing</a></li>
              <li><a routerLink="/categories/clothing/1" routerLinkActive="active">Assassin Clothing</a></li>
              <li><a routerLink="/categories/clothing/2" routerLinkActive="active">Ninja Clothin</a></li>
              <li><a routerLink="/categories/clothing/3" routerLinkActive="active">Rogue Clothing</a></li>
              <li><a routerLink="/categories/clothing/4" routerLinkActive="active">Gothic Clothing</a></li>
              <li><a routerLink="/categories/clothing/5" routerLinkActive="active">Warrior Clothing</a></li>
            </ul>
          </li>
          <li class="menu-dropdown-button">
            <a routerLink="/fan-fiction" [routerLinkActive]="['active']" class="pointer">Fan Fiction</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li  *ngIf!="loggedIn">
            <button class="pointer" md-raised-button (click)="login()">
              <span class="glyphicon glyphicon-user"></span>
              Login
            </button>
          </li>
          <li *ngIf="loggedIn">
            <a id="userDropdown" role="button" data-toggle="dropdown"
               (click)="isUserCollapsed = !isUserCollapsed;
                  isBooksCollapsed = true;
                  isJewelleryCollapsed = true;
                  isClothingCollapsed = true;">
              <img src="{{user.photoURL}}" class="profileImg"/>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel"
                (collapsed)="collapsed($event)"
                (expanded)="expanded($event)"
                [collapse]="isUserCollapsed">
              <li class="signedAs">
                Signed in as: <strong>{{user.displayName}}</strong>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="/user/fan-fiction-favorite-stories" routerLinkActive="active">
                  Your Favorite Stories</a>
              </li>
              <li>
                <a routerLink="/user/shopping-cart"  routerLinkActive="active">
                Your Shopping Cart</a>
              </li>
              <li>
                <a routerLink="/user/wishlist"  routerLinkActive="active">
                Your Wishlist Products</a>
              </li>
              <li role="separator" class="divider"></li>
              <li class="text-lg-right blue-on-hover">
                <button md-raised-button class="pointer " (click)="logout()">
                  <span class="glyphicon glyphicon-log-out"></span>
                  Logout
                </button>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="user/shopping-cart" routerLinkActive="active">
              <i class="glyphicon glyphicon-shopping-cart"></i>
              Cart: {{cartQuantity}} items
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
