<footer id="mainFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h6>Books</h6>
        <ul>
          <li>
            <a href="#">Dark Fantasy</a>
          </li>
          <li>
            <a href="#">Epic Fantasy</a>
          </li>
          <li>
            <a href="#">Romantic Fantasy</a>
          </li>
          <li>
            <a href="#">Sci-Fi Fantasy</a>
          </li>
          <li>
            <a href="#">Vampire Fantasy</a>
          </li>
          <li>
            <a href="#">Young Adult Fantasy</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h6>Jewellery</h6>
        <ul>
          <li>
            <a href="#">Fantasy Earrings</a>
          </li>
          <li>
            <a href="#">Fantasy Bracelets</a>
          </li>
          <li>
            <a href="#">Fantasy Necklaces</a>
          </li>
          <li>
            <a href="#">Fantasy Rings</a>
          </li>
          <li>
            <a href="#">Fantasy Tiaras</a>
          </li>
          <li>
            <a href="#">Fantasy Brooches</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h6>Clothing</h6>
        <ul>
          <li>
            <a href="#">Elvish Clothing</a>
          </li>
          <li>
            <a href="#">Assassin Clothing</a>
          </li>
          <li>
            <a href="#">Ninja Clothing</a>
          </li>
          <li>
            <a href="#">Rogue Clothing</a>
          </li>
          <li>
            <a href="#">Gothic Clothing</a>
          </li>
          <li>
            <a href="#">Warrior Clothing</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h6>Fan Fiction</h6>
        <ul>
          <li>
            <a href="#">Fan Fiction</a>
          </li>
          <li>
            <a href="#">Fan Fiction</a>
          </li>
          <li>
            <a href="#">Fan Fiction</a>
          </li>
          <li>
            <a href="#">Fan Fiction</a>
          </li>
          <li>
            <a href="#">Fan Fiction</a>
          </li>
          <li>
            <a href="#">Fan Fiction</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row footer-social-icons">
      <div class="col-sm-9 terms-conditions">
        <ul>
          <li>
            <a href="#">Terms of Use</a>       
          </li>
          <li>
            <a href="#">Copyright &amp; Trademark</a>        
          </li>
          <li>
            <a href="#">Privacy Policy</a>        
          </li>
          <li>
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
      <a href="https://www.facebook.com/" target="_blank">
        <div class="footer-social-icons-circle">
          <i class="fa fa-facebook"></i>
        </div>
      </a>
      <a href="https://twitter.com/" target="_blank">
        <div class="footer-social-icons-circle">
          <i class="fa fa-twitter"></i>
        </div>
      </a>
      <a href="https://www.instagram.com/"target="_blank">
        <div class="footer-social-icons-circle">
          <i class="fa fa-instagram"></i>
        </div>
      </a>
      <a href="https://www.snapchat.com/"target="_blank">
        <div class="footer-social-icons-circle">
          <i class="fa fa-snapchat-ghost"></i>
        </div>
      </a>
      <a href="https://plus.google.com/"target="_blank">
        <div class="footer-social-icons-circle">
          <i class="fa fa-google-plus"></i> 
        </div>
      </a>
     </div>  
    </div>
    <div class="row col-sm-9 copyright">
      Copyright &copy; 2017 Book Forest, Inc. 122 Fifth Avenue, New York, NY 10011
    </div>
  </div>
</footer>