<footer id="mainFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>Books</h5>
        <ul>
          <li>
            <a href="#">Sth</a>
          </li>
          <li>
            <a href="#">Sth</a>
          </li>
          <li>
            <a href="#">Sth</a>
          </li>
          <li>
            <a href="#">Sth</a>
          </li>
          <li>
            <a href="#">Sth</a>
          </li>
          <li>
            <a href="#">Sth</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Jewellery</h5>
      </div>
      <div class="col-sm-3">
        <h5>Clothing</h5>
      </div>
      <div class="col-sm-3">
        <h5>Fan Fiction</h5>
      </div>
    </div>
  </div>
</footer>
