<div class="product-bar">
  <ul class="Aligner wrap-content">
    <li *ngFor="let product of (mostPopularProducts | sort: ['rating', 'descending'] | slice:0:4 )">
      <a routerLink="/categories/books/{{product.bookCategory}}/products/{{product.$key}}" class="carousel-image-link">
        <img class="full-shadow" src="{{product.imageUrl}}">
        <a routerLink="/categories/books/{{product.bookCategory}}/products/{{product.$key}}" class="btn-quick-view gft-crd-view">Quick View</a>
      </a>
      <p class="record-spotlight-title">
        <a routerLink="/categories/books/{{product.bookCategory}}/products/{{product.$key}}">{{product.title}}</a>
      </p>
      by <em>{{product.author}}</em>
      <div class="ratings-display">
        <ai-star [(ngModel)]="product.rating" [readonly]="true"></ai-star>
      </div>
      <button class="add-to-cart-button" (click)="addProductToCart(product.title, product.$key, product.bookCategory)">Add to Cart</button>
    </li>
  </ul>
</div>

