<page-title [pageTitle]="pageTitle"></page-title>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <div class="sideBar">
        <div class="form-group">
          <label for="search">Search:</label>
          <input type="text" id="search" class="form-control" (keyup)="onSearchInput($event.target.value)"/>
        </div>
        <div class="sidebar-main-category">
          <h5 routerLink="/categories/books" [routerLinkActive]="['active']">Fantasy Books</h5>
          <ul>
            <li *ngFor="let bookCategory of bookCategories; let i = index"
                [routerLink]="['/categories/books', i]" [routerLinkActive]="['active']"
                (click)="setTitle('Fantasy Books', 'books', bookCategory.title, i)">
              {{bookCategory.title}}
            </li>
          </ul>
        </div>
        <div class="sidebar-main-category">
          <h5 routerLink="/categories/jewellery" [routerLinkActive]="['active']">Fantasy Jewellery</h5>
          <ul>
            <li *ngFor="let jewelleryCategory of jewelleryCategories; let i = index"
                [routerLink]="['/categories/jewellery', i]" [routerLinkActive]="['active']"
                (click)="setTitle('Fantasy Jewellery',jewellery, jewelleryCategory.title, i)">
              {{jewelleryCategory.title}}
            </li>
          </ul>
        </div>
        <div class="sidebar-main-category">
          <h5 routerLink="/categories/clothing" [routerLinkActive]="['active']">Fantasy Clothing</h5>
          <ul>
            <li *ngFor="let clothingCategory of clothingCategories; let i = index"
                [routerLink]="['/categories/clothing', i]" [routerLinkActive]="['active']"
                (click)="setTitle('Fantasy Clothing', 'clothing', clothingCategory.title, i)">
              {{clothingCategory.title}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-offset-8 col-sm-2">
          <div class="form-group horizontal">
            <label for="sortOptions">Sort by:</label>
            <select id="sortOptions" class="form-control" (change)="sortByProperty($event.target.value)">
              <option>Title</option>
              <option>Author</option>
              <option>Price</option>
              <option>Rating</option>

            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group horizontal">
            <label for="orderOptions">Order:</label>
            <select id="orderOptions" class="form-control" (change)="Order($event.target.value)">
              <option>Ascending</option>
              <option>Descending</option>
            </select>
          </div>
        </div>
      </div>
      <ul>
        <li *ngFor="let product of (products | categoryFilter: subCategoryId | filter: filterByText | sort: [title, ascending])">
            <app-product-preview  [product]="product" [mainCategory]="mainCategory" [subCategory]="subCategoryId"></app-product-preview>
        </li>
      </ul>
    </div>
  </div>
</div>
