<div class="product-bar">
 <ul>
    <li>
      <a routerLink="/products/{{product.$key}}" class="carousel-image-link">
        <img class="full-shadow" src="{{product?.imageUrl}}">
        <a href="#" class="btn-quick-view gft-crd-view">Quick View</a>
      </a>
      <p class="record-spotlight-title">
        <a routerLink="/products/{{product.$key}}">{{product?.title}}</a>
      </p>
      by <em>{{product?.author}}</em>
      <div class="price">
        {{product?.price | currency: 'USD': true }}
      </div>
      <div class="ratings-display">
        <ai-star [(ngModel)]="rating" [readonly]="true"></ai-star>
      </div>
      <button class="add-to-cart-button" (click)="addProductToCart()">Add to Cart</button>
    </li>
 </ul>
</div>
