<div class="product-bar ">
 <ul>
    <li>
      <a href="#" class="carousel-image-link">
        <img class="full-shadow" src="{{product?.imageUrl}}">
        <a href="#" class="btn-quick-view gft-crd-view">Quick View</a>
      </a>
      <p class="record-spotlight-title">
        <a href="#">{{product?.title}}</a>
      </p>
      by <a href="">{{product?.author}}</a>
      <div class="price">
        {{product?.price | currency: 'USD': true }}
      </div>
      <div class="ratings-display">
        <ai-star [(ngModel)]="rating" [readonly]="true"></ai-star>
      </div>
    </li>
 </ul>
</div>
