<td>
  <button class="remove-item" (click)="removeProductFromCart(itemKey)">
    <span class="glyphicon glyphicon-remove-sign"></span>
  </button>
</td>
<td>
  <img src="{{product?.imageUrl}}" />
</td>
<td>
  <p>{{product?.title}}</p>
</td>
<td>
  {{product?.price | currency: "USD": true}}
</td>
<td>
  <input class="quantity-input" [value]="productQuantity" type="number"
         (click)="changeItemQuantity(productId, mainCategory, $event.target.value, itemKey)"
         (keyup)="changeItemQuantity($event.target.value, itemKey)" />
</td>
<td>
  {{product?.price * productQuantity | currency: "USD": true}}
</td>
<td>
  <button class="cta cta-default">Review Product</button>
</td>
