.empty-cart-p{
  width:50%;
}
.empty-cart-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 35px;
  background-image: url(../../../assets/images/empty-cart.png);
  background-size: contain;
}
.order-summary{
  border-left:4px solid #228d99;
  padding-left:20px;
}
p.left-total {
  font-size: 20px;
  font-weight: 600;
}
.total-price{
  font-size:20px;
  font-weight:600;
  color: #228d99;
}
