img{
    height: 300px;
    width: 250px;
    margin-left: 80px;
}

a{
    text-decoration: none;
}

h1{
    font-size: 50px;
}

.author{
    font-size: 25px;
}

.product-price{
    font-size: 24px;
}

.in-stock{
    margin-top: 5x;
    margin-bottom: 8px;
}
.quantity-input{
    color: #848484;
    text-align: center;
    width: 55px;
    border: 1px solid gray;
    font-size: 14px;
    margin-right: 15px;
    height: 40px;
}

.add-to-cart-button{
    display: inline-block;
    margin-left: 0;
    background-color: #000;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid black;
}

.add-to-cart-button:hover{
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-color: #333;
}

.tabs-content{
    margin-top: 20px;
}

.tabs{
    padding: 25px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 20%;
    background-color: #f9f9f9;
    margin-top: 15px;
    margin-bottom: 20px;
}

.social{
    margin-top: 20px;
}

i{
  color:#818692;
  font-size: 18px;
}

.social-icons-circle{
  display: inline-block;
  border-radius: 50px;
  border: 1.5px solid #818692;
  width: 26px;
  text-align: center;  
}

.social-icons-circle:hover{
  background-color: #818692
}

.social-icons-circle:hover i{
  color: #fff;
}

@media (max-width: 1000px){
    .tabs{
        margin-left: 0;
    }

    img{
        margin-left: 0;
    }
}