<page-title [pageTitle]="pageTitle"></page-title>
<div class="container">
   <div class="row">
    <div class="col-md-4">
      <img
        src="{{product?.imageUrl}}"
        alt="{{product?.title}}"
        class="image-responsive"
      />
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <h1>{{product?.title}}</h1>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="author">{{product?.author}}</p>
        <h6 class="product-price">{{product?.price | currency: 'USD': true }}</h6>
        <ai-star [(ngModel)]="productRating" [readonly]="true"></ai-star>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 in-stock">
        <span>In Stock</span>
      </div>
    </div>
    <div class="row add-to-cart">
      <div class="col-md-12 bottom-rule">
        <input type="number" [(ngModel)]="productQuantity" class="quantity-input"/>
        <button class="add-to-cart-button" (click)="addProductToCart()">
          Add to Cart
        </button>
        <button class="add-to-cart-button" (click)="addProductToWishlist()">
          Add to Wishlist
        </button>
      </div>
    </div>
 </div>
</div>
<div class="tabs-holder">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="tabs">
          <tabset [justified]="true">
            <tab heading="Description" class="tabs-content">{{product?.description}}</tab>
            <tab heading="Reviews" class="tabs-content">"Some review"</tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container margin-top-50px">
  <div class="row">
    <div class="col-sm-12">
      <h5 class="text-center">Related Products</h5>
      <hr>
      <app-product-bar></app-product-bar>
    </div>
  </div>
</div>
