<td>
  <button class="remove-item" (click)="removeProductFromWishlist(itemKey)">
    <span class="glyphicon glyphicon-remove-sign"></span>
  </button>
</td>
<td>
  <img src="{{product?.imageUrl}}" />
</td>
<td>
  <p>
    <a [routerLink]="['/categories', mainCategory, subCategory, 'products', productKey]">{{product?.title}}</a>
  </p>
</td>
<td>
  {{product?.price | currency: 'USD': true}}
</td>
<td>
  In Stock
</td>
<td>
  <button class="add-to-cart-button" (click)="addProductToCart(itemKey)">
    Add to Cart
  </button>
</td>
