/* You can add global styles to this file, and also import other style files */
/*resets*/
a:focus,
a:hover,
button:hover,
button:focus{
  outline: none!important;
}
.header-holder{
  margin-top:100px;
}
/*box classes*/
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.wrap-content {
  flex-wrap:wrap;
}

.evenly-spaced{
  justify-content:space-between;
}

.margin-top-50px{
  margin-top:50px;
}

/*List styles*/
ul.Aligner{
  padding:0px;
}
li{
  list-style: none;
}

/*paragraph classes*/
h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight:700;
}
.script-font{
  font-family: 'Tangerine', cursive;
}
.white-font{
  color:#fff;
}
.text-center {
  text-align: center;
}
.custom-subtitle{
  text-transform:initial;
  margin-top: -30px;
  font-size: 3em;
  color: #228d99;
  font-weight: 300;
}
.subtitle {
  font-size: 25px;
}
.blue-on-hover:hover{
  color:#228d99;
}

/*menu classes*/
.dropdown-menu{
  display: initial;
  top:120%!important;
  transition: all 0.8s !important;
}

.open > .dropdown-menu {
  top:100%!important;
}

.dropdown-toggle::after{
  transition: all 0.3s ease-in-out;
}
header li.open .dropdown-toggle::after {
  transform: rotate(-180deg);
}

/*button classes*/
.cta {
  text-align: center;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 50px;
  display: block;
  margin: auto;
  width:250px;
}
.cta:hover,
.cta:focus,
.cta:active{
  text-decoration: none;
  background: #228d99;
  border-color: #228d99;
  font-weight: 500;
  color:#fff;
}
.cta-default {
  color: #228d99;
  border-color: #228d99;
}
.remove-item{
  background:transparent;
  border:none;
}
.remove-item:hover{
  color:#ff6a77;
}
.add-to-cart-button{
  display: inline-block;
  margin-left: 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid black;
}

.add-to-cart-button:hover{
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-color: #333;
}

.add-to-wishlist {
  background: transparent;
  border: none;
}

.add-to-wishlist:hover {
  color:#228d99;
}

hr {
  height: 3px;
  width:20%;
  color: #228d99;
  background-color: #228d99;
  border: none;
}

/*Section Styles*/
.product-main{
  border-right:4px solid #228d99;
  padding-right:20px;
}

/*Responsive classes*/
.visible-on-mobile{
  display:none;
}

a{
  cursor:pointer;
}
@media only screen and (max-device-width : 981px) {
  .not-visible-on-mobile{
    display:none!important;
  }
  .visible-on-mobile{
    display:initial;
  }
}
