/* You can add global styles to this file, and also import other style files */
/*box classes*/
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.wrap-content {
  flex-wrap:wrap;
}

.evenly-spaced{
  justify-content:space-between;
}

.margin-top-50px{
  margin-top:50px;
}

/*List styles*/
li{
  list-style: none;
}

/*paragraph classes*/
h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight:700;
}
.script-font{
  font-family: 'Tangerine', cursive;
}
.white-font{
  color:#fff;
}
.text-center {
  text-align: center;
}
.custom-subtitle{
  text-transform:initial;
  margin-top: -30px;
  font-size: 3em;
  color: #228d99;
  font-weight: 300;
}
.subtitle {
  font-size: 25px;
}

/*menu classes*/
.dropdown-menu{
  display: initial;
  top:120%!important;
  transition: all 0.8s !important;
}

.open > .dropdown-menu {
  top:100%!important;
}

.dropdown-toggle::after{
  transition: all 0.3s ease-in-out;
}
header li.open .dropdown-toggle::after {
  transform: rotate(-180deg);
}

/*button classes*/
.cta {
  text-align: center;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 50px;
  display: block;
  margin: auto;
  width:180px;
}
.cta:hover,
.cta:focus,
.cta:active{
  text-decoration: none;
  background: #228d99;
  border-color: #228d99;
  font-weight: 500;
  color:#fff;
}
.cta.small{
  padding:5px 15px;
  font-size:initial;
}
.cta-default {
  color: #228d99;
  border-color: #228d99;
  margin: 0;
}
hr {
  height: 3px;
  width:20%;
  color: #228d99;
  background-color: #228d99;
  border: none;
}
