.parent-image-zoom{
  width:100vw;
  height:100vh;
  overflow: hidden;
}
.child-image-zoom{
  width:100%;
  height:100%;
  background-color:black;
  background-image: url("../assets/images/fantasy_forest_landscape.jpg");
  background-position: center;
  background-size:cover;
  transition:all 5s ease-in-out;
}
.parent-image-zoom:hover .child-image-zoom,
.parent-image-zoom:focus .child-image-zoom{
  transform: scale(1.02);
}

.main-categories-list{
  padding:0px;
}

.Aligner-item img {
  max-height: 250px;
  width: 100%;
  filter: sepia(100%);
}

.main-category-holder{
  width: 31.3%;
  min-width:300px;
  min-height: 300px;
  filter:brightness(50%);
  transition: all 0.3s ease-in-out;
  margin: 1%;
  padding:20px;
  background-color: black;
  background-position: center;
  background-size: cover;
}

.main-category-holder:hover{
  filter:brightness(1);
}

h1 {
  text-align: center;
  font-size: 60px;
  color: #fff;
  margin-top: 40px;
  font-family: 'Tangerine', cursive;
}

@media only screen and (max-device-width : 1024px) {
  .parent-image-zoom{
    height:90vh;
  }
  .main-category-holder {
    filter:brightness(1);
  }
}
@media only screen and (max-device-width : 981px) {
  .main-category-holder{
    width:100%;
    margin:0 0 10px 0;
  }
}
