<div class="header-image parent-image-zoom">
  <div class="child-image-zoom Aligner">
      <div class="Aligner-item">
        <img src="../assets/images/open-book.png" />
        <h1>Fantasy Books, Jewellery & Clothing Store</h1>
        <a href="#" class="cta">Shop Now</a>
      </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <ul class="Aligner wrap-content main-categories-list">
        <li class="Aligner main-category-holder" style="background-image: url('../../assets/images/fantasy-book.jpg')">
            <div class="main-category-box">
              <p class="text-center white-font script-font">Custom Category Subtitle</p>
              <h2 class="main-category white-font">
                Fantasy Books
              </h2>
              <a href="#" class="cta small">Shop Now</a>
            </div>
        </li>
        <li class="Aligner main-category-holder" style="background-image: url('../../assets/images/elf-tiara.jpg')">
          <div class="main-category-box">
            <p class="text-center white-font script-font">Custom Category Subtitle</p>
            <h2 class="main-category white-font">
              Fantasy Jewellery
            </h2>
            <a href="#" class="cta small">Shop Now</a>
          </div>
        </li>
        <li class="Aligner main-category-holder" style="background-image: url('../../assets/images/clothing.jpg')">
            <div class="main-category-box">
              <p class="text-center white-font script-font">Custom Category Subtitle</p>
              <h2 class="main-category white-font">
                Fantasy Clothing
              </h2>
              <a href="#" class="cta small">Shop Now</a>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="book-categories">
  <div *ngFor="let category of categories | async">
    <div>
      <a routerLink="/books/categories/{{category.categoryName}}">{{category.categoryName}}</a>
    </div>
  </div>
  <!--<category-list [bookCategories]="bookC"></category-list>-->
</div>
<div id="jewellery-categories">
  <!--<category-list></category-list>-->
</div>
<div id="clothing-categries">
  <!--<category-list></category-list>-->
</div>
<app-product-bar></app-product-bar>
