<page-title [pageTitle]="pageTitle"></page-title>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <section class="wrap-content">
        <p class="text-center empty-cart-p">
          Sorry, it seems you are not logged in, but fear not. Just login with your Google account and enter our fantasy realm.
        </p>
        <div class="Aligner full-width-box">
          <button class="cta cta-default" md-raised-button (click)="login()">
            <span class="glyphicon glyphicon-user"></span>
            Login with Google
          </button>
        </div>
      </section>
    </div>
  </div>
</div>
